<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Create User</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>

    <div id="layoutSidenav">
      <%- include('../layout/sidenav'); -%>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h3 class="mt-4">Manage Users</h3>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
            <div>
              <div style="width: 600px; margin: auto">
                <h3>create a user</h3>
                <form action="/handle-create-user" method="post">
                  <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input
                      name="name"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Your name"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="name@example.com"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Address:</label>
                    <textarea
                      name="address"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="2"
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-warning">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
        <%- include('../layout/footer'); -%>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
  </body>
</html>
